*,body,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    background-color: black;
}
.content__header {
    width: 100%;
    padding: 58px 80px;
}
.content__logo.logo {
    font-size: 32px;
    color: #ffff;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
}
.content__info {
   justify-content: space-between;
   margin: 152px 0 0 0;
}
.content__social {
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 80px;
    align-items: flex-start;
    padding: 0px;
}
.content__follow{
    transform-origin: 0 0;
    transform: rotate(90deg);
    position: relative;
    left: 15px;
    top: -74px;
    color: white;
    font-size: 18px;

}
.content__title.title {
    position: absolute;
    color: #ffff;
    width: 950px;
    height: 309px;
    left: 500px;
    top: 287px;
    align-items: flex-start;
    padding: 0px;
}
.title__subtitle {
    color: #FBD784;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}
h3{
    letter-spacing: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.number{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    
}
h1{
    font-weight: 900;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.title__action {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 844px 227px 200px 231px;
    width: 1462px;



}
.content__section {
    
    m
    padding-left: 150px;
    display: flex;

    

}
h2{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;

}
h4{
    
    font-style: normal; 
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
     color: #FFFFFF;
}
.section__text {
    padding: 144px 144px 143px 150px;
}
.section__subtitle {
    color:#FBD784;
    display: flex;
}
.section__action {
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;


color: #FBD784;
    
}
.section__img.img {
    
    
    
}
.img__preview {
    
}

.figure-img.img-fluid {
    width: 720px;
     border: none;

   
}
.content__section {
    display: flex;
    margin: 200px 227px;
    padding-right: 150px;
    
}
.content__footer.footer {
    
    
}
.footer__context {
}
.footer__content {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #a12727;
}
.footer__logo.logo {
    

}
.footer__copyright {
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #811313;
    opacity: 0.5;
}
.footer__commonInfo {
}
.footer__menu.menu {
    
    

}
.footer__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}
.menu__list.list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    
}
.footer__privacy.privacy {
    
}
.privacy__list.list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
